{% extends "layout.html" %}

{% load static %}

{% block content %}

<div class="content p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'tangoweb-certificateprinting' %}" method="post">
                    {% csrf_token %}
                    <div class="card card-primary">
                        <div class="card-header">
                            <h5 class="card-title">Certificate</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name on Certificate</label>
                                <input name="username" type="text" class="form-control" placeholder="Please enter your name" value="">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> PRINT </button>
                        </div>
                    </div><!-- /.card -->
                </form>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock content %}