{% extends "layout.html" %}

{% load static %}

{% block content %}

<div class="content p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="card-title">Contact Us</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tango-justify"><div class="text-bold">Organisers</div>Clare Verrill
Louise King
Jenny Baldwin
Wenqi Lu
Young Saeng Park
Fayyaz Minhas
Nasir Rajpoot    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tango-justify"><div class="text-bold">Correspondence address</div>PathLAKE Centre
Department of Computer Science
University of Warwick
Coventry CV4 7AL

                                    <div class="text-bold">Correspondence email</div><a href="mailto:pathlake@warwick.ac.uk">pathlake@warwick.ac.uk</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.card -->
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock content %}